* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}



ul {
  list-style: none;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "sidebar header"
  "sidebar main";
}
/* ----------------Header---------------- */
.header {
  background-color: #fafaf9;
  grid-area: header;
  max-height: 250px;
  
}

.header-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 1rem;
}

.search {
  display: flex;
  align-self: center;
  margin: 10px;
  justify-content: stretch;
}
.input {
  flex-grow: 1;
  font-size: 20px;
  margin-left: 2rem;
  width: min(80%, 700px);
  border-radius: 20px;
  border: 0;
  padding: 0 20px;
  background-color: #e7e5e4;
}

.search-icon {
  margin-left: 1rem;
}

.user-info {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.user-info > p {
  align-self: center;
  padding: 1rem;
}

.header-bottom {
  margin-bottom: 20px;
  display: flex;
  grid-area: header;
  margin-left: 2rem;
  justify-content: space-between;
  
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0.75rem;
}

button {
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
button:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
button:active {
	position:relative;
	top:1px;
}

/* --------------------Sidebar-------------------- */
.sidebar-container {
  background-color:  #22c55e;
  grid-area: sidebar;
}

.sidebar {
  display: grid;
  padding: 2rem;
  margin-top: 2rem;
  margin-left: 30px;
  gap: 15px;
  
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
.sidebar.bottom {
  margin-top: 3rem;
}

.side-link {
  display: flex;
  gap: 10px;
}

.dashboard {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 10px;
  margin: 30px;
  align-items: center;
}

.dashboard h3 {
  font-size: 1.8rem;
  color: white;
  
}
/* -----------------------MAIN----------------------- */
.main-content {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 
  "projects announcements"
  "projects trending";
  gap: 2rem;
  overflow: auto;
  background-color: #e7e5e4;
  
}


.projects {
  grid-area: projects;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 250px;
  /* flex-wrap: wrap; */
  gap: 3em;
  padding: 2rem;
  
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left: solid purple;
  border-width: 10px;
  border-radius: 1rem; 
  padding: 15px;
  
}

.trending {
  grid-area: trending;
}

.announcements {
  grid-area: announcements;
}

.main-content h4 {
  font-size: 1.5rem;
}

.main-content h3 {
  font-size: 2rem;
  padding: 2rem;
}
.ann-cards-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  width: max(200px, 2rem);
  border-radius: 2rem;
  margin: 2rem;
  border-bottom: solid purple;
  border-width: 10px;
  border-radius: 1rem;

}
.ann-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  max-width: max-content;
  gap: 15px;
}

.ann-card h5 {
  font-size: 1.2rem;
  margin-bottom: 0.25em;
}

.trending-container {
  
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  max-width: fit-content;
  border-radius: 2rem;
  gap: 1rem;
  width: max(200px, 2rem);
  margin-left: 25px;
  border-bottom: solid purple;
  border-width: 10px;
  border-radius: 1rem;
  margin-bottom: 20px;
  
}

.trending-element {
  padding: 1.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
  
  
}